@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background: none;
    font-family: "Outfit", sans-serif;
}
h1, h4, p, a{
  color:#171313;
  text-decoration: none;
}
